body { -moz-user-select: none; }
div{
    -moz-user-select:none;
      -webkit-user-select:none;
      user-select:none;   
      -font-size:20px;
}
.mapTipImg {
    height: 80px;
    width: 80px;
    float: left;
    border: 2px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
    margin:  -6px 15px 0 6px;
}
.mapTipImg img {
    width: 200%;
    height: 100%;
    margin-left:-50%;
}
.mapTipList {
    float: left;
    margin-left: 4px;
}
.mapTipList h2 {
    text-align: left;
}
.mapTipList h2 a {
    font-size: 24px;
    color: #262626;
    text-decoration: none;
}
.mapTipList h2 a:hover {
    color: #0085d2;
}
.mapTipList h2 a span {
    font-size: 16px;
    margin-left: 3px;
}
.mapTipList ul {
    width: 203px;
    padding-right: 10px;
}
.mapTipList ul li {
    list-style: none;
    float: left;
    padding: 7px 3px 0 3px;
}
.mapTipList ul li a {
    color: #262626;
    text-decoration: none;
}
.mapTipList ul li a:hover {
    background-color: #2ebcfe;
    color: #ffffff;
}

.containerdiv{
    font-family: "微软雅黑";
    background-color: #006699;
    color : #fff;
}
.maplist:link {
    
}
.maplist:hover {
    background-color: #66ccff;
    cursor: pointer;
}
.maplist{
    /*color:#eee;*/
    margin-top: 10px;
    padding: 10px;  background : rgba(123, 204, 238, 0.8) none repeat scroll 0 0 !important;
      /*background: rgba(255, 77, 3,0.9);    /!*ff4d03 *!/*/
     -background:#66ccff;
    border-radius: 5px;
    /*border: 2px solid #ccc;
    opacity:0.8;
    border-radius: 10px;
    background: linear-gradient( #66ccff 10%,  #3366ff 80%);
    background: #3366ff;*/
}

.maplist .col-md-2,.maplist .col-md-3{margin:0 -10px;}

.radimg{
    border-radius: 100px;
}

.maplist .title{
    font-size: 15px;
    font-weight: bold;
    -color : #FFFFCE;
}

.tiitle{
    font-size: 15px;
    font-weight: bold;
    -color : #FF2C67;
}



.col-md-1 img{width:30px;margin-left:-12px;}

.search__{
  padding : 10px;
  margin:10px 0;
  /*background : rgba(123, 204, 238, 0.8) none repeat scroll 0 0 !important;
  background-color: #fff;
  border: 2px solid #ccc;*/
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search{
  padding : 10px; 
}
.search .but{
    width: 223px;
    height: 50px;
    font-size: 24px;
}

.klbtn{
    margin: 10px;
}

.klbtn .but{
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}